/fake_img
/fake_img_mosaicking
/raw_fonts
/pretraining_fonts
/fonts_reserve
/target_fonts
/target_img
/target_img_origin
/model_data
/pretraining_target_img
/pretraining_fake_img
/retraining_fake_img
/__pycache__
fonts_name.dat
simhei.ttf
.DS_Store
*/.DS_Store
